<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.vichu.japantrip">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Japan Trip"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- First screen when the app launches -->
        <activity android:name="com.vichu.japantrip.activities.PasscodeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vichu.japantrip.activities.MainActivity"/>
        <activity android:name="com.vichu.japantrip.activities.ContactUsActivity"/>
        <activity android:name="com.vichu.japantrip.activities.AddContactActivity"/>
        <activity android:name="com.vichu.japantrip.activities.ContactListActivity"/>
        <activity android:name="com.vichu.japantrip.activities.ContactDetailsActivity"/>
    </application>

</manifest>

